.certifications-slider {
    display: flex;
    align-items: center; /* Center images vertically if needed */
}

.certifications-slider img {
    max-width: 120px; /* Adjust this value for the desired image size */
    height: auto; /* Maintain aspect ratio */
    margin: 0 10px; /* Add horizontal margin to space out the images */
    padding: 5px; /* Optional: Add padding to separate images from slider edges */
    box-sizing: border-box; /* Ensure padding is included in the element's total width */
}
