.projects-section {
    padding: 50px 0;
    background-color: #f9f9f9;
    position: relative; /* Ensure positioning context for z-index */
    margin-top: 80px; /* Adjust this value based on the header height */
}

.section-title {
    text-align: center;
    font-size: 3rem; /* Increased font size */
    margin-bottom: 40px;
    font-weight: 700;
    position: relative; /* Ensure text positioning */
    z-index: 1; /* Ensure it appears above other content */
}

.featured-project {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;
}

.featured-project-image {
    flex: 1 1 50%;
    text-align: center;
}

.featured-project-content {
    flex: 1 1 50%;
    padding: 20px;
}

.featured-project h3 {
    font-size: 2.5rem; /* Increased font size */
    margin-bottom: 15px;
    font-weight: 700;
}

.featured-project p {
    font-size: 1.5rem; /* Increased font size */
    color: #555;
}

.project-large-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.other-projects {
    margin-top: 50px;
}

.other-projects h3 {
    font-size: 2.5rem; /* Increased font size */
    margin-bottom: 20px;
    text-align: center;
}

.simple-project {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.simple-project-image {
    flex: 1 1 30%;
    text-align: center;
}

.simple-project-content {
    flex: 1 1 70%;
    padding: 10px 20px;
}

.simple-project h4 {
    font-size: 1.8rem; /* Increased font size */
    margin-bottom: 10px;
    font-weight: 600;
}

.simple-project p {
    font-size: 1.4rem; /* Increased font size */
    color: #666;
}

.project-small-image {
    width: 100%;
    height: auto;
    max-width: 300px; /* Increased max-width */
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.see-more-link {
    display: inline-block;
    padding: 15px 30px; /* Increased padding for a larger clickable area */
    font-size: 1.6rem; /* Increased font size */
    font-weight: 700;  /* Make the text bold */
    color: #fff;
    background-color: #004466; /* Button-like background color */
    border: none;
    border-radius: 8px; /* Rounded corners */
    text-transform: uppercase; /* Make the text uppercase for emphasis */
    transition: all 0.3s ease-in-out; /* Smooth hover transition */
    text-align: center;
    cursor: pointer;
    margin-top: 30px; /* Adds space above the link */
    text-decoration: none; /* Removes underline */
}

/* Hover effect for the "See More" link */
.see-more-link:hover {
    background-color: #006080; /* Darker shade on hover */
    transform: translateY(-3px); /* Lift effect on hover */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* Shadow on hover */
}

