header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
  }
  
  header.scrolled {
    background-color: rgba(0, 86, 179, 0.9);
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: var(--secondary-color);
  }